/* botões: */

button{
  color: white;
  background-color: transparent;
  height: 30%;
  width: 33%;
  transition-duration: 0.5s;
  float: left;
}

.startBtn:hover{
  background-color: green;

}

.stopBtn:hover{
  background-color: orange;

}

.resetBtn:hover{
  background-color: red;

}

.btnTable{
  height: 24%;
  width: 99%;
  display: inline-block;
}

.buttons{
  background-color: transparent;
  display: inline-block;
  height: 100%;
  width: 33%;
}

.nothing{
  background-color: transparent;
  display: inline-block;
  height: 100%;
  width: 33%;
}

div{
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
}

.counters{
  height: 24%;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 70px;
  font-family: Arial, Helvetica, sans-serif;
}



.info-text {
  margin-bottom: 10px;
  font-family:Arial, Helvetica, sans-serif;
  width: 99%;
  height: 50%;
  font-size: 80px
}
.title{
  color: white;
  margin-bottom: 10px;
  font-style:normal;
  text-align: center;
  margin-top: 50px;
  font-family: arial;
}
p{
  text-align: center;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}
body,html {
  height: 100%;
  width: 100%;
}
body {
  background-color: rgb(216,191,216);
}


