html, body {
  height: 99%;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}


.box1 {
  display: block;
  height: 100%;
  width: 99%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.timer {
  margin-top: 5%;
  margin-bottom: 5%;
  height: 10%;
  width: 100%;
}

.timer-text {
  font-size: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.table-grid {
  height: 60%;
  width: 99%;
  margin-left: 0.3%;
}

.zone {
  display: inline-block ;
  width: 24%;
  height: 100%;
  margin-right: 0px;
  vertical-align: top;
  text-align: center;
}

h1 {
  font-size: 100%;
}

.new-task {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left:  auto;
  margin-right: auto;
  vertical-align: center;
  min-height: 10%;
  width: 90%;

  font-size: 20px;

}


.new-task-button {
  width: 75%;
  height: 10%;
  margin: 3% auto 3% 1%;
  border-width: 1px;
  border-radius: 5px;
  display: inline;
}


.tasks {
  height: 70%; 

  
}










