@import "alignment.css";
body {
  background-color: gray;
}

.box1 {
  border-style: solid;
}

.timer {
  font-family: Arial, sans-serif;
}

.timer-text {
}

.table-grid {
  border-style: solid;
}

.zone {
  background-color: blue;
  border-style: solid;
  border-width: 1px;
  overflow-y: auto;

}

.zone-title {
}
h1 {
}

.new-task {
  border-style: solid;
  border-width: 2px;
}












