html {
 height: 100%;
 width: 100%;
}
body, .box1 {
  height: 80%;
  width: 100%;
  background-color: rgb(40, 42, 54);
}

.title {
  width: 100%;
  text-align: center;
}

.table {
  display:inline;
  width: 100%;
  height: 100%;
}
.content {
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
  height: 100%;
  background-color: transparent;
  display: inline-block;
}

.newInput {
  width: 100%;
  height: 20%;
  color: rgb(255, 121, 198);
  margin-top: 10%;
  margin-bottom: 5%;
}

.newLineDiv {
  display: block;
}
.newTaskButton{
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 40px;
  background-color: transparent;
  border-width: 2px;
  border-color: white;
  color: white;
  border-radius: 30px;
  border-style: solid;
  

}
